@model IndividualSeeSharpers.Models.MailRequest

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="MailNewsLetter">
            <h2>Send Newsletter</h2>
            <hr />

            <div class="form-group m-3">
                <input asp-for="Subject" class="form-control"  />
                <label asp-for="Subject" class="control-label"></label>

            </div>
            <div class="form-group m-3">
                <textarea asp-for="Body" class="form-control" rows="6" ></textarea>
                <label asp-for="Body"></label>

            </div>
            <div class="form-group m-3">
                <input asp-for="Attachments" class="form-control"  />
                <label asp-for="Attachments"></label>

            </div>
            <div class="form-group">
                <input type="submit" value="Send Mail" class="btn btn-outline-light m-3" />
            </div>
            
        </form>
    </div>
</div>