@model IndividualSeeSharpers.Models.Review

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 text-center mx-auto align-self-center">
        <h1 class="m-2">Review plaatsen</h1>

        <hr />
        <div class="row">
            <div class="col-lg-12 text-center mx-auto align-self-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label m-3">Typ hier uw review</label>
                        <textarea rows="5" asp-for="Message" class="form-control m-3"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Plaats review" class="btn btn-outline-light m-3"  />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-outline-light m-3" asp-action="Index">Terug naar reviews</a>
        </div>



    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
