<div class="border-top mt-5">


    <div class="col-lg-6 text-center mx-auto align-self-center mt-3 mb-3">
        
        <div class="h3 mb-3">Volg ons ook via</div>
        <a class="btn text-primary" title="Facebook" href="https://www.facebook.com/" target="_blank">
            <span class="fa fa-2x fa-facebook"></span>
            <span >Facebook</span>
        </a>
        <a class="btn text-primary" title="Twitter" href="https://twitter.com/" target="_blank">
            <span class="fa fa-2x fa-twitter"></span>
            <span >Twitter</span>
        </a>
        <a class="btn btn-icon text-primary" title="Instagram" href="https://www.instagram.com/" target="_blank">
            <span class="fa fa-2x fa-instagram"></span>
            <span>Instagram</span>
        </a>
        <a class="btn btn-icon text-primary" title="YouTube" href="https://www.youtube.com/" target="_blank">
            <span class="fa fa-2x fa-youtube-play"></span>
            <span>YouTube</span>
        </a>
    </div>

</div>